<%= render 'shared_partials/style'%>
<%= render 'shared_partials/non-member_nav'%>

<div class="jumbotron" style="background-color:white">
    <h2>Sorry, you do not have have access to this page</h2>
    <%= link_to 'Home', root_url, class:"btn btn-primary a-primary" %>
</div>