<%= render 'shared_partials/admin_nav'%>

<div class="jumbotron", style="background:white">
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path, class:"btn btn-secondary a-primary" %>
</div>