<%= render 'shared_partials/style'%>
<%= render 'shared_partials/non-member_nav'%>

<div class="jumbotron" style="background-color:white">
    <h1>Request to Join</h1>

    <%= render 'pending_form', user: @user %>

    <%= link_to 'Back', root_url, class:"btn btn-secondary a-primary" %>
</div>
