<h1>Attendance Report</h2>

# attendance report
<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Attendance Credits</th>
      <th>Requirement Met?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% if User.any? %>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td>2</td>
        <td>'No'</td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
  <% else %>
  <h2>There are currently no users in the table!</h2>
  <% end %>
</table>