<%= render 'shared_partials/admin_nav'%>

<div class="jumbotron" style="background-color:white">
<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event, class:"btn btn-secondary a-primary" %>
<%= link_to 'Back', root_url, class:"btn btn-secondary a-primary" %>
</div>