<h1>Help Menu</h1>

<hr />

<h2><strong>How do I RSVP to an event?</strong></h2>
<p>
    Locate an event that you would like to RSVP to in the events log.<br />
    <strong>Insert Picture Here</strong>
</p>
<p>On this new RSVP page you will have two things you need to fill out.</p>
<ol>
    <li>
        What Instruments You Can Play (this helps the Gig Master out tremendously)<br />
        <strong>Insert Picture Here</strong>
    </li>
    <li>
        Fill out your attendance status and reason if you are unable to attend.<br />
        <strong>Insert Picture Here</strong>
    </li>
</ol>
<p><strong>Note: This form will not be saved without clicking the submit button.</strong></p>
<p>Congrats! You have successfully let the Gig Master know if you can attend an event and provided him with crucial information!</p>
<hr />
<h2><strong>How do I change my RSVP status?</strong></h2>
<p>
    Locate the event that you would like to change your RSVP status for in the events log.<br />
    <strong>Insert Picture Here</strong>
</p>
<p>Simply update the items that you wish to and click submit to save your changes.</p>
<hr />
<h2><strong>How do I claim possession of a storage key?</strong></h2>
<p>As a member of the website you do not have the required privileges to be able to claim a storage key. Please contact an admin of the website in order to do so.</p>
<hr />
<h2><strong>How do I give up possession of a storage key?</strong></h2>
<p>
    Once an admin has given you ownership of a storage key on the website and you are ready to give it to someone else, navigate to the Storage Key tab shown below.<br />
    <strong>Insert Picture Here</strong>
</p>
<p>Click on the &#39;Change Owner&#39; button next to the storage key that you own. From here you can select a new owner.</p>
<hr />